*{
   margin: 0;
   padding: 0;
}
.container{
   box-sizing: border-box;
   width: 1140px;
   margin: 0 auto;
}
nav{
   background-color: white;
   height: 88px;
}
a{
   text-decoration: none;
}
.menu {
   display: flex;
   justify-content: space-around;
   margin: 0;
   list-style-type: none;
   padding: 32px 0 32px;
}
.menu .menu__link{
   font-family: 'Gilroy';
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;
   color: #828282;
   padding: 32px 0 32px;
}
.menu .menu__home{
   display: block;
   font-family: 'Gilroy';
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;
   color: #070707;
}
.menu__divider{
   display: block;
   margin: 0 auto;
   width: 960px;
   height: 1px;
   background: #828282;
}

.promo{
   min-height: 768px;
}
.promo .promo__header{
   margin-top: 40px;
   font-family: 'Gilroy';
   font-weight: bold;
   font-size: 47.3392px;
   line-height: 59px;
   color: #070707;
}
.promo .promo__descr{
   margin-top: 95px;
   font-family: 'Gilroy';
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #070707;
}
h2 .promo__povorot{
   margin-top: 67px;
}
.promo .promo__povorot{
   font-family: 'Gilroy';
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   transform: rotate(-90deg);
}
.promo .promo__povorot span{
   font-family: 'Gilroy';
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #828282;
}
.promo__img{
   padding: 50px 113px 104px 95px;
}

.second{
   min-height: 506px;
   width: 1145px;
   background-color: #F6F6F6;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}
.second .second__header{
   font-family: 'Gilroy';
   font-weight: 700;
   font-size: 34px;
   line-height: 42px;
   text-align: center;
   color: #070707;
}
.second .second__descr{
   text-align: center;
   font-family: 'Gilroy';
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #070707;
   margin-top: 18px;
}

.third{
   min-height: 610px;
}
.third .third__header{
   text-align: center;
   margin-top: 91px;
   font-family: 'Gilroy';
   font-weight: 700;
   font-size: 34px;
   line-height: 42px;
   color: #070707;
}
.third .third__descr{
   text-align: center;
   margin-top: 69px;
   font-family: 'Gilroy';
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #070707;
}
.third .third__round{
   margin: 0 auto;
   margin-top: 84px;
}

.fourth{
   width: 1145px;
   min-height: 2253px;
   background-color: #F6F6F6;
   margin: 0 auto;
}
.fourth .fourth__header{
   text-align: center;
   margin-top: 113px;
   font-family: 'Gilroy';
   font-weight: 700;
   font-size: 34px;
   line-height: 42px;
   color: #070707;
}
.fourth .fourth__photo{
   margin-top: 100px;
}
.fourth .fourth__name{
   text-align: center;
   margin-top: 45px;
   font-family: 'Gilroy';
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   text-decoration-line: underline;
   color: #070707;
}
.fourth .fourth__names{
   text-align: center;
   margin-top: 45px;
   margin-bottom: 96px;
   font-family: 'Gilroy';
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   text-decoration-line: underline;
   color: #070707;
}

.fifth{
   min-height: 622px;
}
.fifth .fifth__header{
   font-family: 'Gilroy';
   font-weight: 700;
   font-size: 34px;
   line-height: 42px;
   text-align: center;
   margin-top: 114px;
   color: #070707;
}
.fifth .fifth__descr{
   font-family: 'Gilroy';
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   margin-top: 20px;
   color: #070707;
}
.fifth .fifth__btn{
   color: #FFFFFF;
   width: 180px;
   height: 45px;
   margin-top: 30px;
   background-color: black;
   border-radius: 45px;
   font-family: 'Gilroy';
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
}
.fifth .fifth__row{
   position: relative;
   margin-top: 85px;
}
.fifth .fifth__row .fifth-round-1{
   position: absolute;
   left: 389px;
}
.fifth .fifth__row .fifth-round-2{
   position: absolute;
   left: 489px;
}
.fifth .fifth__row .fifth-round-3{
   position: absolute;
   left: 589px;
}
.fifth .fifth__row .fifth-round-4{
   position: absolute;
   left: 689px;
}
.fifth .fifth__text{
   text-align: center;
   margin-top: 141px;
   margin-bottom: 123px;
}