*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 700;
    line-height: 1.4em;
}
p{
    margin: 0;
    font-size: 18px;
    line-height: 1.37em;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.btn{
    width: 227px;
    height: 69px;
    padding: 22px 70px;
    background: #FF6861;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 30px;
    transition: all 0.5s ease;
}
.btn:hover{
    background: #cf544e;
}
.logo{
    margin-top: 60px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: center;
}
.hero-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 82px;
}
.hero{
    width: 465px;
    height: 389px;
}
.hero-text{
    margin: 30px 0 30px 0;
}
h1{
    margin-top: 38px;
}

section{
    margin-top: 120px;
}
.plays{
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 720px;
    margin: 70px auto 0 auto;
}
.play-item{
    display: flex;
    align-items: center;
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
    transition: all 0.5 ease;
}
.play-title{
    font-size: 30px;
    margin-bottom: 11px;
}
.second-wrap{
    width: 1110px;
    height: 486px;
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 76px 125px 75px 122px;
}
.second-img{
    margin-right: 101px;
}
.second-block{
    width: 475px;
}
.second-title{
    text-align: left;
}
.second-text{
    margin-top: 24px;
    width: 371px;
}

.footer{
    margin: 120px 0 120px 0;
    text-align: center;
    font-size: 15px;
}